/* ==========================================================================
   © - Thomas Crossman - www.thomascrossman.co.uk
   ========================================================================== */

body {
    font: 14px/22px  'Raleway', Helvetica Neue, Arial;
    margin: 0 20px;
}

a {
    color: #000;
    text-decoration: none;
}

/* ==========================================================================
   Custom  styles
   ========================================================================== */

.right {
    float: right;
}

.title {
    display: inline;
    margin: 0 16px 0 0;
    font-weight: normal;
    text-transform: uppercase;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

header {
  position: fixed;
  margin: 48px 0 24px 0;
  z-index: 9999;
}

.content {
    margin: 24px 0 0 0;
    position: absolute;
    top: 60px;
    width: 6090px;
}

.gallery-nav {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 6px 0 0 0;
}

a.rslides_nav{
    padding: 4px;
}

a.rslides_nav:hover {
    color: #000;
    background: #fff;
    padding: 3px;
    border: 1px solid #000;
}

a.next {
    color: #fff;
    background: #000;
 }

 .email {
  display: none;
 }

/* ==========================================================================
   Responsive Slides 
   ========================================================================== */

.content ul {
  padding: 0px;
}

.images li {
  float: left;
  list-style: none;
  overflow: hidden;
  padding:0 16px 0 0;
  margin: 0;
}

.images li img {
  width: 600px;
  height: 480px;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

/* ==========================================================================
   Media Queries
   ========================================================================== */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 479px) {

    header {
        margin: 18px 0 0 0;
    }

    .title {
      font-size: 1.8em;
    }

    .content {
        margin: 18px 0 0 0;
        display:block;
    }

    .contact {
        display: block;
    }

    .gallery-nav {
        display: block;
        margin: 0;
    }
}

@media only screen and (min-width : 479px) and (max-width : 768px) {
    header {
        margin: 48px 0 0 0;
    }

}



